@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    scroll-behavior: smooth;
}

body {
    background-image: url(../img/Background.png);
}

.container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
}